<?xml version="1.0" encoding="UTF-8"?>
<recording meeting_id="49dbbc28ce75739ba2b2ba9db4478e10ef461687-1602134561362" bbb_version="2.1.0">
  <meeting id="49dbbc28ce75739ba2b2ba9db4478e10ef461687-1602134561362" externalId="qftypywesort0gy4qg091pitouurx1vyofevojri" name="Home Room" breakout="false"/>
  <metadata bbb-origin="Greenlight" bbb-origin-server-name="demobbb.ingeniumedu.com" bbb-origin-version="2.7.5" gl-listed="false" isBreakout="false" meetingId="qftypywesort0gy4qg091pitouurx1vyofevojri" meetingName="Home Room"/>
  <event timestamp="687432719" module="PRESENTATION" eventname="CreatePresentationPodEvent">
    <currentPresenter/>
    <timestampUTC>1602134561379</timestampUTC>
    <podId>DEFAULT_PRESENTATION_POD</podId>
    <date>2020-10-08T05:22:41.379Z</date>
  </event>
  <event timestamp="687439140" module="PRESENTATION" eventname="ConversionCompletedEvent">
    <originalFilename>default.pdf</originalFilename>
    <timestampUTC>1602134567800</timestampUTC>
    <presentationName>d2d9a672040fbde2a47a10bf6c37b6a4b5ae187f-1602134561376</presentationName>
    <podId>DEFAULT_PRESENTATION_POD</podId>
    <date>2020-10-08T05:22:47.800Z</date>
  </event>
  <event timestamp="687439141" module="PRESENTATION" eventname="SharePresentationEvent">
    <timestampUTC>1602134567801</timestampUTC>
    <presentationName>d2d9a672040fbde2a47a10bf6c37b6a4b5ae187f-1602134561376</presentationName>
    <podId>DEFAULT_PRESENTATION_POD</podId>
    <share>true</share>
    <date>2020-10-08T05:22:47.801Z</date>
  </event>
  <event timestamp="687439142" module="PRESENTATION" eventname="SetPresentationDownloadable">
    <timestampUTC>1602134567802</timestampUTC>
    <presentationName>d2d9a672040fbde2a47a10bf6c37b6a4b5ae187f-1602134561376</presentationName>
    <podId>DEFAULT_PRESENTATION_POD</podId>
    <date>2020-10-08T05:22:47.802Z</date>
    <downloadable>false</downloadable>
  </event>
  <event timestamp="687737730" module="PARTICIPANT" eventname="EndAndKickAllEvent">
    <timestampUTC>1602134866390</timestampUTC>
    <reason>ENDED_WHEN_NOT_JOINED</reason>
    <date>2020-10-08T05:27:46.390Z</date>
  </event>
</recording>
