<?xml version="1.0" encoding="UTF-8"?>
<recording meeting_id="49dbbc28ce75739ba2b2ba9db4478e10ef461687-1602172745503" bbb_version="2.1.0">
  <meeting id="49dbbc28ce75739ba2b2ba9db4478e10ef461687-1602172745503" externalId="qftypywesort0gy4qg091pitouurx1vyofevojri" name="Home Room" breakout="false"/>
  <metadata bbb-origin="Greenlight" bbb-origin-server-name="demobbb.ingeniumedu.com" bbb-origin-version="2.7.5" gl-listed="false" isBreakout="false" meetingId="qftypywesort0gy4qg091pitouurx1vyofevojri" meetingName="Home Room"/>
  <event timestamp="725617729" module="PRESENTATION" eventname="CreatePresentationPodEvent">
    <currentPresenter/>
    <timestampUTC>1602172746389</timestampUTC>
    <podId>DEFAULT_PRESENTATION_POD</podId>
    <date>2020-10-08T15:59:06.389Z</date>
  </event>
  <event timestamp="725623801" module="PRESENTATION" eventname="ConversionCompletedEvent">
    <originalFilename>default.pdf</originalFilename>
    <timestampUTC>1602172752461</timestampUTC>
    <presentationName>d2d9a672040fbde2a47a10bf6c37b6a4b5ae187f-1602172745801</presentationName>
    <podId>DEFAULT_PRESENTATION_POD</podId>
    <date>2020-10-08T15:59:12.461Z</date>
  </event>
  <event timestamp="725623804" module="PRESENTATION" eventname="SharePresentationEvent">
    <timestampUTC>1602172752464</timestampUTC>
    <presentationName>d2d9a672040fbde2a47a10bf6c37b6a4b5ae187f-1602172745801</presentationName>
    <podId>DEFAULT_PRESENTATION_POD</podId>
    <share>true</share>
    <date>2020-10-08T15:59:12.464Z</date>
  </event>
  <event timestamp="725623808" module="PRESENTATION" eventname="SetPresentationDownloadable">
    <timestampUTC>1602172752468</timestampUTC>
    <presentationName>d2d9a672040fbde2a47a10bf6c37b6a4b5ae187f-1602172745801</presentationName>
    <podId>DEFAULT_PRESENTATION_POD</podId>
    <date>2020-10-08T15:59:12.468Z</date>
    <downloadable>false</downloadable>
  </event>
  <event timestamp="725922626" module="PARTICIPANT" eventname="EndAndKickAllEvent">
    <timestampUTC>1602173051286</timestampUTC>
    <reason>ENDED_WHEN_NOT_JOINED</reason>
    <date>2020-10-08T16:04:11.286Z</date>
  </event>
</recording>
