<?xml version="1.0" encoding="UTF-8"?>
<recording meeting_id="889ccb4b4646c2ee13cc4c24ec6e510b1491c0cf-1602170582387" bbb_version="2.1.0">
  <meeting id="889ccb4b4646c2ee13cc4c24ec6e510b1491c0cf-1602170582387" externalId="khasq0fg1zmb0ywbhk0f0x9b03osfle3dbwsh8kt" name="Home Room" breakout="false"/>
  <metadata bbb-origin="Greenlight" bbb-origin-server-name="demobbb.ingeniumedu.com" bbb-origin-version="2.7.5" gl-listed="false" isBreakout="false" meetingId="khasq0fg1zmb0ywbhk0f0x9b03osfle3dbwsh8kt" meetingName="Home Room"/>
  <event timestamp="723453742" module="PRESENTATION" eventname="CreatePresentationPodEvent">
    <currentPresenter/>
    <timestampUTC>1602170582402</timestampUTC>
    <podId>DEFAULT_PRESENTATION_POD</podId>
    <date>2020-10-08T15:23:02.402Z</date>
  </event>
  <event timestamp="723460108" module="PRESENTATION" eventname="ConversionCompletedEvent">
    <originalFilename>default.pdf</originalFilename>
    <timestampUTC>1602170588768</timestampUTC>
    <presentationName>d2d9a672040fbde2a47a10bf6c37b6a4b5ae187f-1602170582399</presentationName>
    <podId>DEFAULT_PRESENTATION_POD</podId>
    <date>2020-10-08T15:23:08.768Z</date>
  </event>
  <event timestamp="723460110" module="PRESENTATION" eventname="SharePresentationEvent">
    <timestampUTC>1602170588770</timestampUTC>
    <presentationName>d2d9a672040fbde2a47a10bf6c37b6a4b5ae187f-1602170582399</presentationName>
    <podId>DEFAULT_PRESENTATION_POD</podId>
    <share>true</share>
    <date>2020-10-08T15:23:08.770Z</date>
  </event>
  <event timestamp="723460110" module="PRESENTATION" eventname="SetPresentationDownloadable">
    <timestampUTC>1602170588770</timestampUTC>
    <presentationName>d2d9a672040fbde2a47a10bf6c37b6a4b5ae187f-1602170582399</presentationName>
    <podId>DEFAULT_PRESENTATION_POD</podId>
    <date>2020-10-08T15:23:08.770Z</date>
    <downloadable>false</downloadable>
  </event>
  <event timestamp="723758760" module="PARTICIPANT" eventname="EndAndKickAllEvent">
    <timestampUTC>1602170887420</timestampUTC>
    <reason>ENDED_WHEN_NOT_JOINED</reason>
    <date>2020-10-08T15:28:07.420Z</date>
  </event>
</recording>
